<form action="/characters/<%= @character.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h3>Character Properties</h3>
  <label for="name">Name: </label>
  <input type="text" name="character[name]" value="<%= @character.name %>" placeholder="<%= @character.name %>"/>
  <br>
  
  <label for="klass">Choose a Class:</label>
  <input list="klass-flavors" id="klass-choice" name="character[klass]" value="<%= @character.klass %>" placeholder="<%= @character.klass %>"  />
  <datalist id="klass-flavors">
      <option value="Barbarian">
      <option value="Bard">
      <option value="Cleric">
      <option value="Druid">
      <option value="Fighter">
      <option value="Monk">
      <option value="Paladin">
      <option value="Ranger">
      <option value="Rogue">
      <option value="Sorcerer">
      <option value="Warlock">
      <option value="Wizard">
  </datalist>
  <br>
  <label for="ability">Ability: </label>
  <input type="text" name="character[ability]" value="<%= @character.ability %>" />
  <br>
  <br>
  <h4>Select an existing team for your character:</h4>
  <br>
      <% @teams.each do |team| %>
      <input type="checkbox" name="character[team_ids][]" id="<%= team.id %>" value="<%= team.id %>" <%='checked' if @character.teams.include?(team) %>><%= team.name %>
      <br>
    <% end %>
  <input type="submit" value="Change">

  </form>