<h2><%=@character.name%></h2>
<h4>Class: <%=@character.klass%></h4>
<p>Ability: <%=@character.ability%></p>

<h4>Current Teams:</h4>
<% @character.teams.each do |team| %>
<%= team.name  %>
<br>
<% end %>
<br>
<h4>Current Equip:</h4>
<% @character.equips.each do |equip| %>
<%= equip.name %>
<br>
<% end %>
<br>
<form action="/characters/<%= @character.id %>/edit" method="GET">
    <input type="submit" value="Edit Character"/>
</form>

<form method="post" action="/characters/<%= @character.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Character" />
</form>
<br>
<form action="/characters/<%= @character.id %>/equips" method="POST">
  <label for="name">Equipment Name: </label>
  <input type="text" name="equip[name]" required>
  <br>
  <label for="description">Description: </label>
  <input type="textarea" name="equip[description]" />
  <br>
  <label for="ability">Ability: </label>
  <input type="text" name="equip[ability]" />
  <br>
  <input type="submit" value="Create" />
</form>
