<form action="/equips/<%= @equip.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Equip Name</label>
  <input type="text" name="equip[name]" value="<%= @equip.name %>" placeholder="<%= @equip.name %>"/>
    <br>
  <label for="description">Description: </label>
  <input type="textarea" name="equip[description]" value="<%= @equip.description %>" placeholder="<%= @equip.description %>"/>
    <br>
  <label for="ability">Ability: </label>
  <input type="textarea" name="equip[ability]" value="<%= @equip.ability %>" placeholder="<%= @equip.ability %>"/>
    <br>
  <input type="submit" value="Change" />

  <h4>Select an existing character for your equip below:</h4>
  <% @characters.each do |character| %>
    <input type="checkbox" name="user[character_ids][]" value="<%= character.id %>" <%= character.name %>>
      <br>
  <% end %>
  <br>
  <input type="submit" value="Change" />
  </form>