<h2>Edit Equip</h2>

<form action="/equips/<%= @equip.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="name">Equip Name</label>
  <input type="text" name="equip[name]" value="<%= @equip.name %>" placeholder="<%= @equip.name %>"/>
    <br>
  <label for="description">Description: </label>
  <input type="textarea" name="equip[description]" value="<%= @equip.description %>" placeholder="<%= @equip.description %>"/>
    <br>
  <label for="ability">Ability: </label>
  <input type="textarea" name="equip[ability]" value="<%= @equip.ability %>" placeholder="<%= @equip.ability %>"/>
    <br>
 
  <h4>Select a character for your equip below:</h4>

  <label for="character">Choose a Character:</label>
  <select id="character-names" name="equip[character_id]">
    <% @characters.each do |character| %>
      <option value="<%= character.id %>"><%= character.name %></option>
    <% end%>
  </select>
  <br>
  <br>
  <input type="submit" value="Change" />
  </form>