<h2>Name: <%=@equip.name%></h2>
<p>Description: <%=@equip.description%></p>
<p>Ability: <%=@equip.ability%></p>

<h4>Equipped on: </h4>
<h4><%= @equip.character.try(:name) %></h4>



<form action="/equips/<%= @equip.id %>/edit" method="GET">
    <input type="submit" value="Edit Equip"/>
</form>

<form method="post" action="/equips/<%= @equip.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Equip" />
</form>